/* Add your custom styles here */
:root{
    --primary1: #000000;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary1: #000001
    }
    head {
        font-family: 'Antonio', sans-serif;

    }
    h3 {
        font-family: 'Antonio', sans-serif;

    }
    body {
        background-color: #E6E8E6;
        font: 'San Francisco', Helvetica, Arial, san-serif;
        

    }
}